*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-image: url(/img/background.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.container{
    position: absolute;
    left: 25%;
    top: 15%;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: 25px auto;
}



.avatar{
    text-align: center;
    justify-content: center;
    size-adjust: 80px;
}

.logo{
    height: 90px;
    padding: 5px;
}

h1,h2,h3{
    padding: 10px;
}

.name{
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
    margin: 7px 0;
    border: none;
}

.mail{
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
    border: none;
}

.checktext{
    word-spacing: 1px;
    margin: 20px 0;
    display: flex;
    justify-content:center;
}
.check{
    padding: 10px;
    margin-right: 8px;
}

.submit{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size:large;
    background: rgb(8, 167, 241);
}
.submit:hover{
    background-color: rgb(10, 136, 194);
}

.button{
    display: none;
}

.brandingLogo img{
    display: none;
}